body{
    margin:0;
    padding: 0;
    background-color: #34495e;
    font-family: Arial, Helvetica, sans-serif;
}
.login{
    background-color: #191919;
    border-radius:50%;
    width:400px;
    height:400px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding:20px;
    
}
.login h1{
    margin-top:60px;
    padding:10px;
    color:white;
    text-transform: uppercase;
    font-weight:500;
}
.login input[type="text"],.login input[type="password"]{
    background:none;
    border:none;
    display: block;
    margin:20px auto;
    text-align: center;
    border:2px solid #3498db;
    padding:14px 10px;
    width:150px;
    outline:none;
    border-radius:40px ;
    color:white;
    transition:0.5s;
}
.login input[type="text"]:hover,.login input[type="password"]:hover{
    width:250px;
   
    border-color: greenyellow;
}
.login input[type="submit"]{
    background:none;
    border:none;
    display: block;
    margin:20px auto;
    text-align: center;
    border:2px solid #3498db;
    padding:14px 10px;
    width:100px;
    outline:none;
    border-radius:40px ;
    color:white;
    transition: 0.5s;
}
.login input[type="submit"]:hover{
    background:#3498db;
    color:black;
    cursor: pointer;

}